body {
    text-align: center;
}

.title {
    margin-top: 1vh;
    font-size: 4em;
    -webkit-text-stroke: 0.5px black;
}

.font {
    /* font-family: 'Rubik Glitch', cursive; */
    font-family: 'Rubik Glitch', cursive;
    font-family: 'Secular One', sans-serif;
}

.pay {
    position: relative;
    padding: 10px;
    margin: 1vw;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-color: #a5becc;
}

.pay:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.pay:active {
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
        rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.container {
    display: flex;
    width: 100vw;
    max-width: 1000px;
    margin: auto;
}

.nav-bar {
    width: min-content;
    /* background-color: aqua; */
}

.content {
    width: 80%;
    text-align: center;
    margin: 2vh;
}

.content-paragraph {
    text-align: right;
    margin: auto;
}

.nav-btn {
    display: block;
    margin: 1vh;
    background-color: #faf4b7;
    font-size: 1rem;
    /* width: 11vw; */
    /* height: 7vh; */
    width: 150px;
}

@media screen and (max-width: 600px) {
    .title {
        margin: 0;
    }
    
    .container {
        margin: auto;
        flex-direction: column-reverse;
    }

    .content {
        margin: auto;
    }
    .content-paragraph {
        text-align: center;
        margin: auto;
        padding: 0;
    }

    .nav-bar {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        width: 100%;
    }
    .nav-btn {
        /* width: 40vw; */
        width: 150px;
        /* height: 7vh; */
        margin: 0.5vh auto;
    }
}
